

<!DOCTYPE html>

<html>
<body>
    @DateTime.Now;
    @*Razor Page Comment*@


    @*Start Body*@
    <section>
        <center>
            <div class="mt-3 bg-primary  text-success rounded-2">
                <h1>Welcome TO About Us Page</h1>
                <p>lorem........</p>
            </div>
        </center>
    </section>
    @*End Body*@

</body>
</html>

