

<h1>Privacy</h1>

<!DOCTYPE html>

<html>
<body>
    @DateTime.Now;
    <!--HTML Comment-->
    @*Razor Page Comment*@

    @*Start Body*@
    <section>
        <center>
            <div class="mt-3 bg-primary  text-white rounded-2">
                <h1>Welcome TO Privacy Page</h1>
                <p>lorem........</p>
            </div>
        </center>
    </section>
    @*End Body*@


</body>
</html>
